<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.zach.digitalfencingref">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.google.zach.digitalfencingref.HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/title_score">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zach.digitalfencingref.video"
            android:label="Video"
            android:screenOrientation="portrait"
        />
        <activity
            android:name="com.google.zach.digitalfencingref.glossary"
            android:label="Glossary"
            android:screenOrientation="portrait"
        />
        <activity
            android:name="com.google.zach.digitalfencingref.about"
            android:label="About"
            android:screenOrientation="portrait"
        />
        <activity
            android:name="com.google.zach.digitalfencingref.contact"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait"
        />
    </application>

</manifest>